.home {
    display: flex;
    flex-direction: row-reverse;
}
  
  .content {
    margin-top: 90px;
    /* margin-left: 18em; */
    padding: 2em;
    display: flex;
    justify-content: space-evenly;
}
  