.login {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-block {
    border-radius: 10px;
    background-color: white;
    width: 450px;
    height: 375px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.login-head-wrapper {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-head-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.login-head-text {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.login-credentials-wrapper {
    padding-top: 25px;
}

.login-input {
    margin-bottom: 15px;
}

.login-button-wrapper {
    display: flex;
    justify-content: center;
}

.login-btn {
    width: 100%;
    margin-bottom: 10px;
    color: #4c4848;
}

.login-btn:hover {
    color: black!important;
}

.login-without-account{
    text-decoration: none;
    color: #004100;
    font-size: 14px;
}

.login-without-account:hover{
    color: #00410075;
}

.login-copyright {
    font-size: 14px;
    color: #777;
    text-align: center;
    margin-top: 40px;
}

