.navbar {
    padding-top: 6px;
    position: fixed;
    top: 0;
    /* left: 18em;  */
    /* width: calc(100% - 18em); */
    /* width: 100%; */
    height: 83px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    color: #fefefe;
}

.initials {
    color: #3d3d3d;
    font-family: Arial;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 50px;
}

.navbar-person-div.dark {
    color: white!important;
}

.navbar-person-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.navbar-notification-img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.navbar-name.dark {
    color: white!important;
}