.search {
    padding-left: 4em;
}

.search-input {
    color: #a19b9b;
    font-size: 17px;
    width: 35em;
    height: 3em;
    padding-left: 35px;
    border: none;
    border-radius: 20px;
    background-color: #fefefe;
    outline: none;
    transition: box-shadow 0.3s ease;
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    background-position: 10px 45%;
    background-size: 20px 20px;
}

.search-input.dark {
    background-color: #666;
}

.search-input::placeholder {
    font-size: 17px;
    color: #a19b9b;
}

.search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    background: url('../images/close.svg') no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }