.settings {
    display: flex;
}

.dark {
    background-color: #444;
    color: white!important;
}

.settings-content {
    display: flex;
    flex-direction: column;
    height: 135vh;
    margin-left: 100px;
}

.settings-header {
    margin-top: 40px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.1vh;
    font-family: Roboto, serif;
    margin-bottom: 20px;
}

.settings-form-parts {
    display: flex;
}

.settings-form-part {
    flex: 6;
}

.settings-input {
    width: 70%;
}

.settings-input.dark {
    color: #ffffff!important;
    background-color: #777;
}

.settings-input.dark::placeholder{
    color: #cccccc;
}

.settings-input-text {
    padding: 3px;
    font-size: 18px;
    font-family: Roboto, serif;
}

.settings-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 200px;
    gap: 50px
}

.settings-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    color: #4c4848;
}

.settings-btn.dark {
    background-color: green!important;
}

.settings-btn.dark:hover {
    color: #cccccc!important;
    background-color: forestgreen!important;
}

.settings-btn:hover {
    color: black!important;
}

.settings-icon-mode {
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin: 30px 30px 0 0;
}

.settings-collapse {
    margin-top: 20px;
    width: 85%;
}

.settings-input-panel {
    width: 500px !important;
}

.settings-button-wrapper-panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
}

.settings-btn-panel {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
    color: #4c4848;
    box-shadow: none!important;
}

.settings-btn-panel.dark {
    background-color: green!important;
}

.settings-btn-panel.dark:hover {
    color: #cccccc!important;
    background-color: forestgreen!important;
}

.settings-btn-panel:hover {
    color: black!important;
}