.settings {
    display: flex;
}

.dark {
    background-color: #444;
    color: white!important;
}

.settings-content {
    display: flex;
    flex-direction: column;
    height: 135vh;
    margin-left: 100px;
}

.settings-header {
    margin-top: 40px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.1vh;
    font-family: Roboto, serif;
    margin-bottom: 20px;
}

.settings-form-parts {
    display: flex;
    flex-direction: column;
}

.settings-input {
    width: 51%;
}

.settings-input.dark {
    background-color: #777;
}

.settings-input.dark::placeholder{
    color: #cccccc;
}

.settings-input-text {
    padding: 3px;
    font-size: 18px;
    font-family: Roboto, serif;
}

.settings-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 200px;
    gap: 50px
}

.settings-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 28%;
    color: #4c4848;
}

.settings-btn.dark {
    background-color: green!important;
}

.settings-btn.dark:hover {
    color: #cccccc!important;
    background-color: forestgreen!important;
}

.settings-btn:hover {
    color: black!important;
}

.settings-icon-mode {
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin: 30px 30px 0 0;
}

.settings-collapse {
    margin-top: 20px;
    width: 51%;
}

.settings-input-panel {
    width: 500px !important;
}

.settings-input-panel.dark {
    background-color: #777;
}

.settings-input-panel.dark::placeholder {
    color: #cccccc;
}

.settings-button-wrapper-panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
}

.settings-btn-panel {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
    color: #4c4848;
    box-shadow: none!important;
}

.settings-btn-panel.dark {
    background-color: green!important;
}

.settings-btn-panel.dark:hover {
    color: #cccccc!important;
    background-color: forestgreen!important;
}

.settings-btn-panel:hover {
    color: black!important;
}

.settings-right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-user-img-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    gap: 10px;
    align-items: center;
}

.file-input-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
}

.file-input-wrapper input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.settings-selected-photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.settings-photo-placeholder-text {
    display: flex;
    align-items: center;
    margin-left: 15px;
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #999;
}

.settings-right-side-text {
    padding: 3px;
    font-size: 18px;
    font-family: Roboto, serif;
}

.change-photo-text {
    color: #555;
    cursor: pointer;
    margin-top: 5px;
    width: 5%;
}

.settings-user-menu {
    width: 120px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}