.sidebar {
  width: 270px;
  border-right: 2px solid rgba(82, 80, 80, 0.075);
  position: fixed;
  height: 100vh;
  padding: 20px 0 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.sidebar-heading {
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.sidebar-footer {
  margin-bottom: 10vh;
}

.sidebar-nav {
  width: 168%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav-footer {
  padding: 20px 20px 8px 0;
  width: 38vh;
  list-style-type: none;
}

.sidebar-item {
  margin-bottom: 10px;
}

.sidebar-item-footer {
  margin-bottom: 10px;
}

.sidebar-link {
  padding: 8px 8px 8px 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #a19b9b;
  transition: color 0.3s ease;
}

.sidebar-link:hover {
  border-right: 2px solid green;
  color: #000;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.sidebar-icon {
  color: #a19b9b;
  width: 20px;
  height: 20px;
}

.sidebar-icon:hover {
  fill: black;
}

.sidebar-text {
  margin-left: 5px;
}
