.sidebar {
  width: 18em;
  border-right: 2px solid rgba(82, 80, 80, 0.075);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 20px 0 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.open {
  width: 18em;
}

.closed {
  width: 4em;
}

.open-text {
  width: 18.1em;
}

.closed-text {
  width: 4.1em;
}

.sidebar-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.sidebar-heading-wrapper {
  height: 55px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-heading.dark{
  color: white!important;
}

.sidebar-footer {
  margin-bottom: 10vh;
}

.sidebar-nav {
  /*width: 23.2vw;*/
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  margin-bottom: 10px;
}

.sidebar-link {
  height: 22px;
  padding: 8px 8px 8px 12px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #a19b9b;
  transition: color 0.3s ease;
}

.sidebar-link:hover {
  border-right: 2px solid #004100;
  color: #000;
}

.sidebar-link.dark {
  height: 22px;
  padding: 8px 8px 8px 12px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #a19b9b!important;
  transition: color 0.3s ease;
}

.sidebar-link.dark:hover {
  border-right: 2px solid #fff;
  color: #fff!important;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.sidebar-icon {
  cursor: pointer;
  color: #a19b9b;
  width: 20px;
  height: 20px;
}

.sidebar-icon-heading {
  padding-top: 6px;
  cursor: pointer;
  color: #a19b9b;
  width: 20px;
  height: 20px;
}

.sidebar-icon:hover {
  fill: black;
}

.sidebar-text {
  margin-left: 5px;
}

.sidebar-link.active {
  height: 22px;
  padding: 8px 8px 8px 12px;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color 0.3s ease;
  border-right: 2px solid #004100;
  color: #000;
}

.sidebar-link.dark.active {
  height: 22px;
  padding: 8px 8px 8px 12px;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color 0.3s ease;
  border-right: 2px solid #fff;
  color: #fff!important;
}
