.list-card {
    background-color: #a7c9b859;
    border-radius: 13px;
    width: 27%;
    height: 75vh;
    overflow: auto;
}

.list-card.dark {
    background-color: #444;
    color: #fff;
}

.list-card.dark .card-heading {
    color: #fff;
}

.card-add-btn.dark {
    background-color: #555;
    color: #fff!important;
}

.ant-btn.ant-btn-default.dark:hover {
    background-color: #666;
    color: #fff!important;
}

.list-card::-webkit-scrollbar {
    border-radius: 13px;
    width: 0; 
    background-color: transparent;
    height: auto;
}

.card-content {
    padding: 12px;
}

.card-heading {
    margin: 0;
    color: #333;
    font-weight: 500;
}

.card-add-btn {
    margin-top: 15px;
    /* margin-bottom: 15px; */
}

.ant-btn.ant-btn-default:hover {
    border-color: #00410042!important;
    color: initial!important;
}

.task-card {
    margin-top: 15px;
}